services:
  - type: web
    name: gerd-claim-api
    env: python
    plan: free
    rootDir: claim_service
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn main:app --bind 0.0.0.0:$PORT"
    envVars:
      - key: WEB3_PROVIDER
        sync: false
      - key: PRIVATE_KEY
        sync: false
      - key: SENDER_ADDRESS
        sync: false
      - key: TOKEN_CONTRACT_ADDRESS
        sync: false
      - key: TOKEN_DECIMALS
        sync: false
      - key: RECAPTCHA_SECRET_KEY
        sync: false
      - key: IPINFO_TOKEN
        sync: false
      - key: FIREBASE_CRED_PATH
        sync: false
      - key: ETN_CLIENT_ID
        sync: false
      - key: ETN_CLIENT_SECRET
        sync: false
      - key: ETN_REDIRECT_URI
        sync: false
      - key: ETN_SCOPE
        sync: false
      - key: ETN_AUTHORIZE_URL
        sync: false
      - key: ETN_TOKEN_URL
        sync: false
